body {
  font-family: 'Open Sans', sans-serif;
  background: url("/images/ornn_portrait.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  margin: 0;
}

.song {
  background: rgba(0,0,0,.5);
  display: inline-block;
  padding: 50px 0 0 50px;
  margin: auto;
  width: 400px;
  height: 100vh;
}

h1 {
  font-family: 'Proza Libre', sans-serif;
}

.author {
  font-style: italic;
  font-size: 15px;
}

.verse {
  margin-top: 20px;
}

.verse-number {
  font-weight: 700;
  font-style: italic;
}
